* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input, select {
  border: none;
  font-size: 0.8em;
  width: 60px;
  height: 25px;
}

label {
  display: block;
  font-size: 0.6em;
  margin-bottom: 5px;
}


html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  font-family: helvetica, arial, sans-serif;
  background: #f0f0f0;
  color: #ccc;
  width: 100%;
  height: 100%;
  min-width: 350px;
  display: flex;
  align-items: center;
  
  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.container-signal {
  width: 150px;
  height: 100%;
  padding: 10px;
  background: #00337e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.signal {
  height: 100%;
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 500px;
}


.output-select h4 {
  background: #00337e;
  color: #484848;
  padding: 4px;
  border: 1px solid #666;
}

#out1.selected-output {
  background: #00FF00 !important;
  color: #333 !important;
}

#out2.selected-output {
  background: #FFFF00 !important;
  color: #333 !important;
}


.signal-data-row {
  display: flex;
  align-items: center;
  justify-content: center;
}


.signal p {
  font-size: 0.7em;
  text-align: center;
}



.signal-data input {
  width: 70px;
  padding-left: 3px;
}

.signal-data select {  
  border: none;
  border-left: 1px solid blue;
}

#signalSelect {
  width: 90px;
}






.container-scope {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.monitor {
  width: 100%;
  max-width: 400px;
}

.signal-summary {
  text-align: left;
  font-size: 0.5em;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #111;
  margin-bottom: 5px;
  text-align: center;
}


.screen {
  width: 100%;
  padding: 6px 6px 2px 6px;
  background: #777;
  border-radius: 10px;
  box-shadow: 0 0 8px -4px #333;
}

#myCanvas {
  box-shadow: 0 0 8px -2px #333;
}



.settings {
  padding: 10px 10px;
  text-align: center;
  margin-top: 20px;
  background: #BBB;
  border-radius: 10px;
  box-shadow: 0 0 8px -4px #333;
  width: 100%;
  max-width: 400px;
  color: #333;
}

.settings-time, .settings-channel1, .settings-channel2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.settings-time-left {
  width: 60%;
}

.settings-time-right {
  width: 40%;
}

.settings-time-forms {
  justify-content: center;
}

.settings h2 {
  font-size: 0.8em;
  margin: 5px 0 10px 0;
}

#selTimeUnit {
  border-left: 1px solid #999;
}

.settings > div, .settings-volts > div {
  margin-bottom: 15px;
}

.arrow-rows {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.arrows i {
  border: 1px solid #999;
  padding: 2px;
  margin-left: 5px;
  background: #ddd;
  border-radius: 3px;
  cursor: pointer;
}






/*  misc form customizations */
input:disabled, select:disabled {
  background: #626262;
}

input {
  border: none;
}



/********  FRAMEWORK CLASSES ***********/
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clicked {
  background: #888 !important;
}




@media screen and (min-width: 350px) {
  html {
      font-size: calc(16px + 6 * ((100vw - 350px) / 450));
  }
  
  .settings select {
    width: 70px;
  }
}



/* ------------------------------------------------ */
/*     MEDIA QUERY FOR SCREEN WIDTH > 800 PX        */
/* ------------------------------------------------ */

@media screen and (min-width: 800px) {
  html {
      font-size: 22px;
  }
  
  body {
    flex-direction: column;
  }
  
  .container-signal {
    width: 100%;
    height: 90px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .signal {
    height: 100%;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

    
  
  .signal-summary {
    font-size: 0.7em;
  }
  
  .container-scope {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  
  .monitor {
    width: calc(1.25 * 0.8 * (100vh - 170px)); /* include 80% buffer */
    max-width: 800px;
  }
  
  .settings {
    margin-left: 20px;
    max-width: 320px;
  }
  
}




/* ------------------------------------------------ */
/*     MEDIA QUERY FOR SCREEN WIDTH > 1150 PX        */
/* ------------------------------------------------ */

@media screen and (min-width: 1150px) {
  
  .signal-data input, .signal-data select {
    font-size: 0.8em;
    width: 70px;
    height: 25px;
  }

  .signal-data input {
    width: 80px;
    padding-left: 4px;
  }

  #signalSelect {
    width: 100px;
  }

}